# Bootstrap
cms/app/bootstrap*

# Symfony directories
cms/vendor/*
cms/app/logs/*
cms/app/cache/*
cms/web/uploads/*
cms/web/bundles/*

# Configuration files
cms/app/config/parameters.ini
cms/composer.phar

.buildpath
.settings
.project