{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
{% spaceless %}
    {% if value %}
        <span class="label label-success">{% trans from 'SonataAdminBundle' %}Active{% endtrans %}</span>
    {% else %}
        <span class="label">{% trans from 'SonataAdminBundle' %}Inactive{% endtrans %}</span>
    {% endif %}
{% endspaceless %}
{% endblock %}